@font-face {
  font-family: 'Outfit';
  src: url('Fonts/Outfit/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Outfit', sans-serif;
  background: linear-gradient(180deg, #EFEDED 0%, rgba(162, 210, 226, 0.75) 10%, rgba(135, 192, 202, 0.67) 18%, rgba(108, 168, 223, 0.59) 42%, rgba(90, 164, 174, 0.50) 61%, rgba(80, 146, 150, 0.42) 81%, rgba(16, 139, 150, 0.33) 100%);
  margin: 10vw;
}

#MainTitle {
  color: #383838;
  font-family: 'Outfit', sans-serif;
  text-align: center;
  padding: 10px;
  background-color: #EFEFEF;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 4.5em;
}

#MainLogo {
  position: absolute;
  top: 0;
  left: 25%;
  padding: 10px;
  text-align: center;
}

#MainLogo img {
  width: 25%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 100vw;
  overflow: hidden;
}

.banner {
  display: flex;
  width: 300vw;
  animation: scroll 15s linear infinite;
}

.banner img {
  width: 100vw;
  height: 450px;
  object-fit: cover;
  filter: opacity(0.8);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200vw);
  }
}
.image-container {
  position: relative;
  display: inline-block; /* Or 'block' depending on your layout */
}

.image-container img.border {
  display: block; /* Ensures the image takes up its own line */
  width: 100%; /* Adjust as needed */
  height: auto; /* Maintains aspect ratio */
}

.image-container img.overlay {
  position: absolute;
  bottom: -1rem;
  right: -5rem;
  width: 10rem; /* Adjust to your desired size */
  height: 5rem; /* Adjust to maintain aspect ratio */
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-100px); }
  50% { transform: translateX(100px); }
  75% { transform: translateX(-100px); }
}

.shake-animation {
  animation: shake 0.5s linear;
}


#title {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.border {
  border: 2px solid black;
  text-align: center;
  padding: 5px;
}

.border:hover{
  box-shadow: 5px 5px 5px grey;
}

.grid-container {
  display: grid;
  row-gap: 0.25rem;
  column-gap: 0.25rem;
  grid-template-columns: repeat(3, 1fr);
}

.grid-item1 {
  text-align: center;
  grid-column: span 1;
  grid-row: span 1;
}

.meth_product {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.section{
  margin-left: 1vw;
  width: 90%;
}

#red{
  color:red;
}

.header{
  background-color: #82a6e0;
  border-radius: 1rem;
  padding: 0.5rem;
}

body {
  font-family: Outfit, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #EFEDED 0%, rgba(162, 210, 226, 0.75) 10%, rgba(135, 192, 202, 0.67) 18%, rgba(108, 168, 223, 0.59) 42%, rgba(90, 164, 174, 0.50) 61%, rgba(80, 146, 150, 0.42) 81%, rgba(16, 139, 150, 0.33) 100%);
}

header {
  background: #333;
  color: #fff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #ffc107 3px solid;
}

header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul {
  padding: 0;
  list-style: none;
}

header li {
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  margin-left: 1wv;
}


header .highlight,
header .current a {
  color: #ffc107;
  font-weight: bold;
}

header a:hover {
  color: #ffc107;
  font-weight: bold;
}

.about-info {
  margin-top: 50px;
  background: #fff;
  padding: 20px;
  color: #333;
}

.meth_product {
  margin-left: 5%;
}